#!/bin/sh
#                          __ _ _
#   __  ___ __  _ __ ___  / _(_) | ___
#   \ \/ / '_ \| '__/ _ \| |_| | |/ _ \
#  _ >  <| |_) | | | (_) |  _| | |  __/
# (_)_/\_\ .__/|_|  \___/|_| |_|_|\___|
#        |_|
# 
# X server profile file
# 
# File: ~/.xprofile
# Author: Dusan Mitrovic <dusan@dusanmitrovic.xyz>
#
export EDITOR="vim"
export BROWSER="firefox"
export VISUAL="$EDITOR"
export SUDO_EDITOR="$EDITOR"
export FCEDIT="$EDITOR"
export TERMINAL="alacritty"
export JAVA_HOME="/usr/lib/jvm/default"
export PF_INFO="ascii title os kernel uptime pkgs memory editor"

export QT_QPA_PLATFORMTHEME="qt5ct"
export QT_AUTO_SCREEN_SCALE_FACTOR=0
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

# Color variables
export LESS_TERMCAP_mb=$'\e[1;32m'
export LESS_TERMCAP_md=$'\e[1;32m'
export LESS_TERMCAP_me=$'\e[0m'
export LESS_TERMCAP_se=$'\e[0m'
export LESS_TERMCAP_so=$'\e[01;33m'
export LESS_TERMCAP_ue=$'\e[0m'
export LESS_TERMCAP_us=$'\e[1;4;31m'

lxsession & # Graphical session
picom & # Compositor
mpDris2 & # mpd controls
wal -R # Restore pywal colors
xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Enabled" 1 # Enable tap to click
