!   __  __
!   \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!    \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!  _ /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
! (_)_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!
! File: ~/.Xresources
! Author: Dusan Mitrovic <dusan@dusanmitrovic.xyz>
! Colors: gruvbox.dark

! special
#define FOREGROUND          #c7ccd1
#define BACKGROUND          #1c2023
#define CURSOR_COLOR        #c7ccd1
#define CURSOR_GUIDE_COLOR  #2e2a29
#define CURSOR_TEXT_COLOR   #1e1e1e
#define BADGE_COLOR         #ca480e
#define BOLD_COLOR          #ffffff
#define LINK_COLOR          #ca480e
#define SELECTED_TEXT_COLOR #534a42
#define SELECTION_COLOR     #e6d4a3

! black
#define BLACK               #1e1e1e
#define LIGHT_BLACK         #7f7061

! red
#define RED                 #be0f17
#define LIGHT_RED           #f73028

! green
#define GREEN               #868715
#define LIGHT_GREEN         #aab01e

! yellow
#define YELLOW              #cc881a
#define LIGHT_YELLOW        #f7b125

! blue
#define BLUE                #377375
#define LIGHT_BLUE          #719586

! magenta
#define MAGENTA             #a04b73
#define LIGHT_MAGENTA       #c77089

! cyan
#define CYAN                #578e57
#define LIGHT_CYAN          #7db669

! white
#define WHITE               #978771
#define LIGHT_WHITE         #e6d4a3

! special
*.foreground:               FOREGROUND
*.background:               BACKGROUND
*.cursorColor:              CURSOR_COLOR
*.cursorGuideColor:         CURSOR_GUIDE_COLOR
*.cursorTextColor:          CURSOR_TEXT_COLOR
*.badgeColor:               BADGE_COLOR
*.boldColor:                BOLD_COLOR
*.linkColor:                LINK_COLOR
*.selectedTextColor:        SELECTED_TEXT_COLOR
*.selectionColor:           SELECTION_COLOR

! black
*.color0:                   BLACK
*.color8:                   LIGHT_BLACK

! red
*.color1:                   RED
*.color9:                   LIGHT_RED

! green
*.color2:                   GREEN
*.color10:                  LIGHT_GREEN

! yellow
*.color3:                   YELLOW
*.color11:                  LIGHT_YELLOW

! blue
*.color4:                   BLUE
*.color12:                  LIGHT_BLUE

! magenta
*.color5:                   MAGENTA
*.color13:                  LIGHT_MAGENTA

! cyan
*.color6:                   CYAN
*.color14:                  LIGHT_CYAN

! white
*.color7:                   WHITE
*.color15:                  LIGHT_WHITE

! font config
Xft.dpi:                    96
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.autohint:               true
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcdfilter

!Dmenu config
dmenu.font:                 UbuntuMono Nerd Font:size=13
dmenu.background:           BACKGROUND
dmenu.foreground:           BOLD_COLOR
dmenu.selbackground:        COLOR9
dmenu.selforeground:        BOLD_COLOR
